body {
  background-color: #ead6c7;
}

/*p, ul {
  font-family: Optima, Helvetica Neue, Helvetica, Arial, sans-serif;
}*/

.jumbotron h1 {
  text-shadow: 1px 1px #000000;
}

.jumbotron p {
  text-shadow: 1px 1px #000000;
}

.aboutme {
  background-color: white;
  padding: 15px;
  border-radius: 6px;
}

.img-rounded {
  height: 250px;
  float: right;
  box-shadow: 4px 4px 3px grey;
}
/*There is a problem with corner rounding; not applying to left corners.*/

.bg-info {
  padding: 10px;
}

.list-inline {
  text-align: right;
}

.well {
  background-color: #e1f4dc;
  width: 35%;
}

.github {
  margin-top: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 6px;
}

/*https://codepen.io/JacobLett/pen/jqqyaR*/
.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.6;
    color: #fff;
    background: #000;
    background-image: url(../img/placeholderbookshelf.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
  top:0;left:0;
  z-index:1;
}
.jumbotron {
  position:relative;padding:50px;
  color: white;
}

.jumbotron .container {z-index:2;
 position:relative;
  z-index:2;
}

.mission {
  font-weight: 500;
}

/*.jumbotron {
  background-image: url(../img/placeholderbookshelf.jpg);
  background-size: cover;
  background-color: #e1f4dc;
  color: white;
  text-align: center;
}*/

/*div.transbox {
  background-color: #ffffff;
  opacity: 0.6;
  float: left;
}*/
